/* Fonts Start */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
      url('fonts/Roboto-Black.woff2') format('woff2'),
      url('fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
      url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('fonts/Roboto-Bold.woff2') format('woff2'),
      url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
      url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
      url('fonts/Roboto-Light.woff2') format('woff2'),
      url('fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
      url('fonts/Roboto-Italic.woff2') format('woff2'),
      url('fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
      url('fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('fonts/Roboto-Medium.woff2') format('woff2'),
      url('fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
      url('fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
      url('fonts/Roboto-Thin.woff2') format('woff2'),
      url('fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
      url('fonts/Roboto-Regular.woff2') format('woff2'),
      url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
      url('fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/* Fonts End */

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;

  display: grid;
  grid-template-columns: 20rem 5fr;
  grid-template-rows: 12rem 1fr;
  gap: 2px;

  color: #f8fafc;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #1e293b;
}

.section {
  background-color: #0f172a;
  display: grid;
}

header {
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 2fr;
  gap: 8px 21px;
  padding: 1rem 2rem;

  background: linear-gradient(225deg, #450a0a, 5%, #450a0a00 20%);
}

.search {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

#search-bar {
  font-size: 0.9rem;
  color: #0f172a;
  background-color: #f8fafc;

  flex: auto;
  border: 0;
  border-radius: 5px;
  width: auto;
  height: 1.5rem;
  padding: 8px;

  box-shadow: 0 5px 12px #f8fafc55;
  border-radius: 9999px;
}

.info-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 9999px;

  background-color: #0009;
  font-weight: bold;
}

.profile-picture {
  background-color: #dc2626;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile .username {
  padding-right: 24px;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 16px;
}

.greeting .profile-picture {
  width: 75px;
  height: 75px;
  box-shadow: 0 0 18px #dc262699;
}

.header {
  font-weight: 900;
  font-size: 1.75rem;
}

.action-bar {
  display: flex;
  gap: 21px;
  justify-content: flex-end;
  align-items: center;
}

.action-bar button {
  padding: 0.8rem 0;
  border-radius: 9999px;
  border: none;
  width: 128px;

  background-color: #b91c1c;
  color: #f8fafc;
  font-weight: 600;
}

.sidebar {
  grid-row: 1 / -1;

  grid-template-columns: 100%;
  align-items: start;
  align-content: start;
  justify-content: start;
  gap: 1rem;

  padding: 1rem;

  background: linear-gradient(135deg, #450a0a, 10%, #0f172a 50%);
}

.sidebar .header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.sidebar li {
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.5rem 0;

  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
}

main {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 2rem;
}

.section-title {
  font-weight: 500;
  font-size: 1.125rem;
}

.projects {
  grid-row: 1 / -1;
}
